body {
    max-width: 1000px;
    font-size: 14px;
    margin: 0 auto;
    border: 2px dashed turquoise;
    background: #f3f4f6;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 1.1;
}

h1,
h2 {
    line-height: 1.5;
    margin-top: 50px;
}


main {
    width: 1450px;
}

div {
    padding: 20px;
    border: 1px solid rgb(172, 49, 49);
}

.column {
    display: inline-block;
    width: calc(34.3% - 45px - 2px);
 }
